<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jason's Guestbook</title>
    <style>
        body {
            text-align: center;
            background-color: black;
            background-image: url("images/blackwav.gif");
            color: rgb(255, 255, 255);
        }

        .container {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        .form {
            max-width: 500px;
            min-width: 400px;
            border: solid 1px white;
        }
    </style>
</head>

<body>
    <h1>Sign my guestbook</h1>
    <div class="container">
        <div class="form">
            <form method="get" action="/comment">
                <label for="name">Name</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="email">Email</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="comment">Comment</label><br>
                <textarea wrap="virtual" rows="5" cols="35" name="comment"></textarea>
                <br>
                <input type="submit" value="Sign">
            </form>
        </div>
        <div>

            <img src="images/bluebar2.gif" />
            <img src="/images/back1.gif" />
            <img src="images/bluebar2.gif" />
        </div>
    </div>
</body>

</html>