<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook</title>
    <style>
        * {
            margin:0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            text-align: center;
            background-image: url(images/blackwav.gif), linear-gradient(rgb(0 0 0 / 53%),rgb(0 0 0 / 32%));
            background-blend-mode: overlay;
            color: rgb(255, 255, 255);
        }
        .container {
            text-align: left;
            width: 610px;
            margin:auto;
            border: solid 1px blue;
            background-color: rgb(33 33 39 / 95%);
            overflow: hidden;
            margin-bottom: 1rem;
        }
        .footer {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1 {
            text-align: center;
            margin-bottom: -55px;
            margin-top: 50px;
        }
        table {
            padding: 10px;
        }
        .back {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    </style>
</head>

<body>
    <div class="back">
        <a href="/"><img src="images/back1.gif" /></a>
    </div>
    <h1>Jason's Guestbook</h1>
    <img src="images/Subzero.gif" />
    <img src="images/fire.gif" />
    <img src="images/scorpion.gif" />
    <div class="container">
        <% if(people.length> 0) { %>
            <% people.map((comment)=> { %>
                <table>
                    <tr>
                        <td>Time:</td><td><%= comment.date %></td>
                    </tr>
                    <tr>
                        <td>Name:</td><td><%= comment.name %></td>
                    </tr>
                    <tr>
                        <td>E-mail:</td><td><%= comment.email %></td>
                    </tr>
                    <tr>
                    <td>Comment:&nbsp&nbsp</td><td><%= comment.comment %></td>
                </tr>
            </table>
            <img src="/images/bluebar2.gif" />
            <% }) %>
        <% } %>
        
    </div>
    <div class="footer">
        <img src="/images/skull.gif" />
        <a href="/"><img src="images/back1.gif" /></a>
        <img src="/images/skull.gif" />
    </div>
    <script>
        //if we came here after posting a comment, this clears the url
        //because if we don't & they hit refresh, it will keep the old url & post another comment
        history.pushState('', '', location.href.split('/comment')[0])
    </script>
    </body>
        
</html>