<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my website</title>
    <script src="public/app.js"></script>
    <style>
        body {
            text-align: center;
            background-color: black;
            background-image: url("images/blackwav.gif");
            color: rgb(255, 255, 255);
        }
        .book {
            height: 100px;
            width: 100px;
        }
        </style>
</head>

<body>
    <h1>Jason's Website</h1>
    <img src="images/barraconstruction.gif" />
    <br>
    Under construction
    <br>
    Programming languages: C, Perl, Vb 6.0
    <br>
    <img class="book" src="images/perl.jpg" />
    <img class="book" src="images/vb6.gif" />
    <img class="book" src="images/krc.png" />
    <br>
    <img src="images/bluebar2.gif" />
    <br>
    <br>
    <a href="/sign"><img src="images/signguestbook.gif" /></a>
    <br>
    <br>
    <img src="images/bluebar2.gif" />
    <br>
    <br>
    <br>
    <a href="/guestbook"><img src="images/viewguestbook.gif" /></a>
        <br>
    <img src="images/Subzero.gif" />
    <img src="images/fire.gif" />
    <img src="images/Reptile.gif" />
    <br>
    <br>
    You are visitor number
    <br><img src="images/counter.gif" />
    <br>
    <br>
    <img src="images/frontpag.gif" />
    <br>
    <img src="images/iexplorer.gif" />
    <br>
     <img src="images/icq.gif" />
    <br>
    <img src="images/y2k.gif" />
    <marquee behavior="alternate">Thank you for visiting!</marquee>
</body>

</html>