<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jason's Guestbook</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            text-align: center;
            background-image: url(images/blackwav.gif), linear-gradient(rgb(0 0 0 / 53%),rgb(0 0 0 / 32%));
            background-blend-mode: overlay;
            color: rgb(255, 255, 255);
        }
        h1 {
            text-align: center;
        }
        .container {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        
        .form {
            padding: 10px;
            border: solid 1px blue;
            background-color: rgb(33 33 39 / 95%);
            overflow: hidden;
            max-width: 100%;
            /* max-width: 500px;
            min-width: 400px; */
            margin-bottom: 1rem;
        }
        .footer {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <h1>Sign my guestbook</h1>
    <div class="container">
        <div class="form">
            <form method="get" action="/comment">
                <label for="name">Name</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="email">Email</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="comment">Comment</label><br>
                <textarea wrap="virtual" rows="5" cols="35" name="comment"></textarea>
                <br>
                <input type="submit" value="Sign">
            </form>
        </div>
        <div class="footer">
            <img src="/images/Skull.gif" />
            <a href="/"><img src="images/back1.gif" /></a>
            <img src="/images/Skull.gif" />
        </div>
    </div>
</body>

</html>